body { background-color: bisque;
    width: 100vw;
    height: 100vh;
    background-image: url(../public2/Desktop\ -\ 37.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gatos{
    width: 60vw;
    height: 60vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    transform: translate(2%, 10%);
}

.gatos img {
    border: 3px solid black;
    width: 150px;
    height: 150px;
    border-radius: 22px;

}


p {
    font-family: 'Oleo Script', cursive;
    font-weight: 400;
    font-size: x-large;
  
  }
  

