main { 
    width: 100vw;
    height: 100vh;
    background-color: #3B2B11;
    font-family: 'Oleo Script', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 { font-size: xx-large;
color: white;}

.logo{ 
    width: 220px;
    height: 220px;
    border-radius: 33px;
    background-color: bisque;
    transform: translateY(-10%);
}

.logo img {
    width: 100%;
    height: 100% ;
}


.conteudo {
    width: 990px;
    height: 588.97px;
    background-image:url(../public2/Group\ 57.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.usuario {
    width: 40%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.usuario h1{font-size: larger;color: black;
    
}
.usuario p { font-size: large;}

.bola {
    background-color: #809671;
    width: 150px;
    height: 150px;
    border-radius: 50%;

} .sideuser {
    width: 50%;
    height: 100%;
    
    display:flex ;
    flex-direction: column;
    justify-content:center ;
    align-items:center ;
    transform: translateX(-10%);
} 

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 100%;
    height: 50%;
    transform: translateY(5%);
}

.config h1 
{font-size: larger;color: black; }
.bla1 { display: flex;}
.bla1 img { width: 30px; height: 30px;}
.bla2 {display: flex;}
.bla2 img { width: 30px; height: 30px;}
.suporte h1
{font-size: larger;color: black; }

.butao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50%;
}
.pimg
{ 
    width: 60px;
    height: 60px;
    border: 3px solid black;
    border-radius: 10px;
    background-color:#B3B792;
    display: flex;
    justify-content: center;
    align-items: center;
}